In [1]:
import pandas as pd

In [5]:
df = pd.read_csv(r'../final_data/tag_index_table.csv')

In [13]:
df['Counts'] = df['Doc_ID'].apply(lambda x: x.count(',')+1)

In [17]:
df = df.sort_values(by=['Counts'],ascending = False)

In [19]:
del df['Counts']

In [20]:
df

                                 Key                          Doc_ID
145                             2017  [37, 15, 13, 39, 4, 5, 45, 25]
0                             health             [1, 27, 12, 28, 22]
159                        complaint             [32, 8, 46, 43, 41]
184                         activity                 [32, 8, 43, 41]
21                             board                 [32, 8, 43, 41]
62                              2006                 [32, 8, 43, 41]
12                              2016                [30, 39, 25, 23]
24                              2009                 [32, 8, 43, 41]
95                          citywide                  [42, 4, 5, 45]
124                         civilian                 [32, 8, 43, 41]
28                              2008                 [32, 8, 43, 41]
165                             2007                 [32, 8, 43, 41]
32                            review                 [32, 8, 43, 41]
116                             2013                  [15, 4, 5, 45]
47                              taxi                    [33, 14, 29]
38                               doe                      [3, 0, 20]
71                complaint activity                     [8, 43, 41]
174  civilian complaint review board                     [8, 43, 41]
189                        education                     [21, 40, 6]
141                             2005                     [8, 43, 41]
139                       statistics                     [8, 43, 41]
114                              tlc                    [33, 14, 29]
7                               ccrb                     [8, 43, 41]
52                             crime                        [32, 46]
172                         incident                        [32, 46]
44                         resources                        [37, 12]
168                            trips                        [33, 29]
117                      ela results                         [5, 45]
118                            grade                         [0, 42]
104                           report                        [32, 37]
..                               ...                             ...
102                       yellow cab                            [29]
103   human resources administration                            [27]
105                      environment                            [36]
106       key performance indicators                            [37]
107                           arrest                            [31]
108                   substantiation                            [32]
109                           actual                            [37]
87                subsidized housing                             [2]
86                        5 yr trend                            [37]
85                            tgt 17                            [37]
73                     substantiated                            [32]
63                               boy                             [1]
64                               ops                            [37]
66                       total trips                            [29]
67                          benefits                            [12]
68                              kpis                            [37]
69                           taxicab                            [14]
70                              name                             [1]
72                             nycha                             [2]
74                       performance                            [37]
84                           project                             [6]
75                           english                            [40]
76                            mobile                            [33]
77                            gender                            [42]
79                             power                            [36]
80                             beach                            [22]
81                    parking ticket                            [16]
82                       opportunity                            [12]
83                             goals                            [37]
201                       misconduct                            [43]

[202 rows x 2 columns]

In [21]:
df.to_csv(r'../final_data/tag_index_table.csv')